<style>

.w3-white {color:#000 !important; background-color:#ffeaec !important}
.w3-theme-l4 {color:#000 !important; background-color:#ffbac1 !important}
.w3-theme-l3 {color:#fff !important; background-color:#ff7482 !important}
.w3-theme-l2 {color:#fff !important; background-color:#ff2f44 !important}
.w3-theme-l1 {color:#fff !important; background-color:#e90017 !important}
.w3-theme-d1 {color:#fff !important; background-color:#93000f !important}
.w3-theme-d2 {color:#fff !important; background-color:#83000d !important}
.w3-theme-d3 {color:#fff !important; background-color:#72000b !important}
.w3-theme-d4 {color:#fff !important; background-color:#62000a !important}
.w3-theme-d5 {color:#fff !important; background-color:#520008 !important}

.w3-theme-light {color:#000 !important; background-color:#ffeaec !important}
.w3-theme-dark {color:#fff !important; background-color:#520008 !important}
.w3-theme-action {color:#fff !important; background-color:#520008 !important}

.w3-theme {color:#fff !important; background-color:#a3000f !important}
.w3-text-theme {color:#a3000f !important}
.w3-border-theme {border-color:#a3000f !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#a3000f !important}
.w3-hover-text-theme:hover {color:#a3000f !important}
.w3-hover-border-theme:hover {border-color:#a3000f !important}

</style>
